body{
   height: 100vh;
   width: 100vw;
   background-image: url(../Images/mainPageBackground.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.root-container_addBebidaHelada{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;

}

.parent-container_addBebidaHelada{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 58vw;
   height: 75vh;
   background-color: whitesmoke;
   border-radius: 20px;
   box-shadow: -3px 0px 20px -2px rgba(0,0,0,0.75);
}

.search-container_addBebidaHelada{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   background-color: white;
   border-radius: 10px;
   height: 88%;
   width: 90%;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.search-box_addBebidaHelada{
   width: 700px;
   height: 100%;
   height: 500px;
   padding: 30px 0;
   margin: 0px auto 0px auto;
}

.main-title_addBebidaHelada{
   font-size: 2.2rem;
   line-height: 1.8;
   margin-left: 50px;
   margin-bottom: 20px;
   margin: 10px 0px 20px 50px;
}

.form_addBebidaHelada{
   display: block;
   margin: 0;
}

.form_addBebidaHelada label{
   display: flex;
   align-items: flex-end;
}

.form_addBebidaHelada select{
   width: 200px;
   height: 25px;
   margin: 10px auto;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
   font-size: 1.4rem;
}

.search-box_addBebidaHelada h2{
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.6;
   margin: 13px auto;
}


.search-box_addBebidaHelada input{
   width: 200px;
   height: 25px;
   margin: 10px auto;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
}

.form_addBebidaHelada label h2{
   width: 180px;
}

.search-buttons-container_addBebidaHelada{
   display: flex;
   justify-content: center;
   margin-top: 25px;
}

.btnAdd_addBebidaHelada, .btnclose_addBebidaHelada, 
.btnclear_addBebidaHelada{
   margin: 15px 20px 10px 20px;
   height: 55px;
   width: 55px;
   text-align: center;
   cursor: pointer;
   background-color: white;
   border-radius: 15px;
   border: none;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}


.btnclose_addBebidaHelada{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclose_addBebidaHelada span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/closeIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnclear_addBebidaHelada{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclear_addBebidaHelada span{
   width: 35px;
   height: 35px;
   background-image: url('../Images/cleanIcon.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnAdd_addBebidaHelada{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnAdd_addBebidaHelada span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/checkIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}





.btnAdd_addBebidaHelada:hover, .btnclose_addBebidaHelada:hover, 
.btnclear_addBebidaHelada:hover{
   background-color: #D9D9D9;
   box-shadow: -3px 0px 20px -16px rgba(0,0,0,0.75);
}











