body{
   height: 100vh;
   width: 100vw;
   background-image: url(../Images/mainPageBackground.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.root-container_adddesechables{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;

}

.parent-container_adddesechables{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 55vw;
   height: 80vh;
   background-color: whitesmoke;
   border-radius: 20px;
   box-shadow: -3px 0px 20px -2px rgba(0,0,0,0.75);
}

.search-container_adddesechables{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: row;
}

.search-box_adddesechables{
   width: 700px;
   height: 100%;
   height: 500px;
   padding: 30px 0;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.main-title_adddesechables{
   font-size: 2.6rem;
   line-height: 1.6;
   margin-left: 50px;
   margin-bottom: 20px;
   font-weight: bold;
}

.form_adddesechables label{
   display: flex;
   align-items: flex-end;
}

.form_adddesechables select{
   width: 200px;
   height: 25px;
   margin: 10px auto;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
   font-size: 1.4rem;
}

.search-box_adddesechables h2{
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.6;
   margin: 10px auto;
   width: 200px;
}

.search-box_adddesechables > h2{
   font-size: 1.5rem;
   line-height: 1.6;
   font-weight: 500;
   margin: 10px 0px 10px 16px;
   /* margin-bottom: 10px;
   margin-left: 8px; */
}

.search-box_adddesechables input{
   width: 200px;
   height: 25px;
   margin: 10px auto;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
}

label h2{
   width: 60px;
}

.search-buttons-container_adddesechables{
   display: flex;
   /* justify-content: center; */
   /* align-items: center; */
   justify-content: space-evenly;
   margin-top: 10px;
}

.btnAdd_adddesechables, .btnclose_adddesechables, .btnclear_adddesechables{
   margin: 15px 0 10px 0;
   /* padding: 10px; */
   height: 55px;
   width: 55px;
   text-align: center;
   cursor: pointer;
   background-color: white;
   border-radius: 15px;
   border: none;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}


.btnclose_adddesechables{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclose_adddesechables span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/closeIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnclear_adddesechables{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclear_adddesechables span{
   width: 35px;
   height: 35px;
   background-image: url('../Images/cleanIcon.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnAdd_adddesechables{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnAdd_adddesechables span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/addIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnAdd_adddesechables:hover, .btnclose_adddesechables:hover, 
.btnclear_adddesechables:hover{
   background-color: #D9D9D9;
   box-shadow: -3px 0px 20px -16px rgba(0,0,0,0.75);
}









