/* *{
   box-sizing: border-box;
   margin:0;
   padding: 0;
}

html{
   font-size: 62.5%;
   font-family: 'Montserrat', sans-serif;
} */

body{
   height: 100vh;
   width: 100vw;
   background-image: url(../Images/mainPageBackground.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.root-container_addmedidas{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;

}

.parent-container_addmedidas{
   display: flex;
   /* justify-content: flex-start; */
   justify-content: center;
   align-items: center;
   /* flex-direction: column; */
   width: 70vw;
   height: 75vh;
   background-color: whitesmoke;
   border-radius: 20px;
   /* box-shadow: 13px 16px 15px -3px rgba(0,0,0,0.75); */
   box-shadow: -3px 0px 20px -2px rgba(0,0,0,0.75);
}

.search-container_addmedidas{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   /* margin: 50px; */
   background-color: white;
   border-radius: 10px;
   height: 88%;
   width: 90%;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.search-box_addmedidas{
   width: 700px;
   height: 100%;
   height: 500px;
   padding: 30px 0;
   /* background-color: white; */
   /* border-radius: 10px; */
   /* margin: 0 20px 0 20px; */
   /* box-shadow: 0 4px 8px rgb(0 0 0 / 16%); */
}

.main-title_addmedidas{
   font-size: 2.2rem;
   line-height: 1.8;
   margin-left: 50px;
   margin-bottom: 20px;
   margin: 10px 0px 20px 50px;
   font-weight: bold;
}

.form_addmedidas{
   display: block;
   margin: 0;
}

.form_addmedidas label{
   display: flex;
   align-items: flex-end;
}

.search-box_addmedidas h2{
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.6;
   /* display: inline-block; */
   /* margin: 5px 10px 0 10px; */
   margin: 13px auto;
}


.form_addmedidas input{
   width: 200px;
   height: 25px;
   margin: 10px auto;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
}

.form_addmedidas label h2{
   width: 180px;
}

.search-buttons-container_addmedidas{
   display: flex;
   justify-content: center;
   margin-top: 25px;
}

.btnAdd_addmedidas, .btnclose_addmedidas, 
.btnclear_addmedidas, .btnImage_addmedidas{
   margin: 15px 20px 10px 20px;
   height: 55px;
   width: 55px;
   text-align: center;
   cursor: pointer;
   background-color: white;
   border-radius: 15px;
   border: none;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}


.btnclose_addmedidas{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclose_addmedidas span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/closeIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnclear_addmedidas{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclear_addmedidas span{
   width: 35px;
   height: 35px;
   background-image: url('../Images/cleanIcon.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnAdd_addmedidas{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnAdd_addmedidas span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/checkIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnImage_addmedidas{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnImage_addmedidas span{
   width: 35px;
   height: 35px;
   background-image: url('../Images/searchIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnAdd_addmedidas:hover, .btnclose_addmedidas:hover, 
.btnclear_addmedidas:hover, .btnImage_addmedidas:hover{
   background-color: #D9D9D9;
   box-shadow: -3px 0px 20px -16px rgba(0,0,0,0.75);
}

.medidaImagen_addmedidas{
   margin: 90px 40px auto 0;
}

.medidaImagen_addmedidas h2{
   /* font-size: 2rem;
   font-weight: 400;
   line-height: 1.6;
   margin: 30px auto 10px auto; */

   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.6;
   /* display: inline-block; */
   /* margin: 5px 10px 0 10px; */
   margin: 15px auto;
}

.medidaImagen_addmedidas img{
   height: 150px;
   width: 230px;
}









