body{
   height: 100vh;
   width: 100vw;
   background-image: url(../Images/mainPageBackground.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.root-container_addusuario{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;

}

.parent-container_addusuario{
   display: flex;
   /* justify-content: flex-start; */
   justify-content: center;
   align-items: center;
   /* flex-direction: column; */
   width: 75vw;
   height: 88vh;
   background-color: whitesmoke;
   border-radius: 20px;
   /* box-shadow: 13px 16px 15px -3px rgba(0,0,0,0.75); */
   box-shadow: -3px 0px 20px -2px rgba(0,0,0,0.75);
}

.search-container_addusuario{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   /* margin: 50px; */
   background-color: white;
   border-radius: 10px;
   height: 88%;
   width: 90%;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.search-box_addusuario{
   width: 700px;
   height: 100%;
   height: 500px;
   padding: 30px 0;
   /* background-color: white; */
   /* border-radius: 10px; */
   /* margin: 0 20px 0 20px; */
   /* box-shadow: 0 4px 8px rgb(0 0 0 / 16%); */
}

.main-title_addusuario{
   font-size: 2.2rem;
   line-height: 1.8;
   margin-left: 50px;
   margin-bottom: 20px;
   margin: 0px 0px 20px 50px;
   font-weight: bold;
}

.form_addusuario{
   display: block;
   margin: 0;
}

.form_addusuario label{
   display: flex;
   align-items: flex-end;
}

.search-box_addusuario h2{
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.6;
   /* display: inline-block; */
   /* margin: 5px 10px 0 10px; */
   margin: 13px auto;
}


.form_addusuario input{
   width: 200px;
   height: 25px;
   margin: 10px auto;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
}

.form_addusuario select{
   width: 200px;
   height: 25px;
   margin: 10px auto;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
   font-size: 1.4rem;
}


.form_addusuario label h2{
   width: 190px;
}

.search-buttons-container_addusuario{
   display: flex;
   justify-content: center;
   margin-top: 25px;
}

.btnAdd_addusuario, .btnclose_addusuario, 
.btnclear_addusuario, .btnImage_addusuario{
   margin: 15px 20px 10px 20px;
   height: 55px;
   width: 55px;
   text-align: center;
   cursor: pointer;
   background-color: white;
   border-radius: 15px;
   border: none;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}


.btnclose_addusuario{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclose_addusuario span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/closeIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnclear_addusuario{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclear_addusuario span{
   width: 35px;
   height: 35px;
   background-image: url('../Images/cleanIcon.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnAdd_addusuario{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnAdd_addusuario span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/checkIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnImage_addusuario{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnImage_addusuario span{
   width: 35px;
   height: 35px;
   background-image: url('../Images/searchIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnAdd_addusuario:hover, .btnclose_addusuario:hover, 
.btnclear_addusuario:hover, .btnImage_addusuario:hover{
   background-color: #D9D9D9;
   box-shadow: -3px 0px 20px -16px rgba(0,0,0,0.75);
}

.infocuenta_addusuario{
   margin: 90px 40px auto 0;
}

.infocuenta_addusuario h2{
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.6;
   margin: 10px auto 10px auto;
   width: 190px;
}









