body{
   height: 100vh;
   width: 100vw;
   background-image: url(../Images/mainPageBackground.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.root-container_addVino{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;

}

.parent-container_addVino{
   display: flex;
   /* justify-content: flex-start; */
   justify-content: center;
   align-items: center;
   /* flex-direction: column; */
   width: 75vw;
   height: 80vh;
   background-color: whitesmoke;
   border-radius: 20px;
   /* box-shadow: 13px 16px 15px -3px rgba(0,0,0,0.75); */
   box-shadow: -3px 0px 20px -2px rgba(0,0,0,0.75);
}

.search-container_addVino{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   /* margin: 50px; */
   background-color: white;
   border-radius: 10px;
   height: 88%;
   width: 90%;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.search-box_addVino{
   width: 700px;
   height: 100%;
   height: 500px;
   padding: 30px 0;
   margin: auto 0;
}

.main-title_addVino{
   font-size: 2.2rem;
   line-height: 1.8;
   margin-left: 50px;
   margin-bottom: 20px;
   margin: 0px 0px 20px 50px;
}

.form_addVino label{
   display: flex;
   align-items: flex-end;
}

.form_addVino select{
   width: 200px;
   height: 25px;
   margin: 10px auto;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
   font-size: 1.4rem;
}

.search-box_addVino h2{
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.6;
   /* display: inline-block; */
   /* margin: 5px 10px 0 10px; */
   margin: 13px auto;
}


.form_addVino input{
   width: 200px;
   height: 25px;
   margin: 10px auto;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
}


.form_addVino label h2{
   width: 180px;
}

.search-buttons-container_addVino{
   display: flex;
   justify-content: center;
   margin-top: 25px;
}

.btnAdd_addVino, .btnclose_addVino, 
.btnclear_addVino, .btnImage_addVino{
   margin: 15px 20px 10px 20px;
   height: 55px;
   width: 55px;
   text-align: center;
   cursor: pointer;
   background-color: white;
   border-radius: 15px;
   border: none;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}


.btnclose_addVino{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclose_addVino span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/closeIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnclear_addVino{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclear_addVino span{
   width: 35px;
   height: 35px;
   background-image: url('../Images/cleanIcon.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnAdd_addVino{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnAdd_addVino span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/checkIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnImage_addVino{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnImage_addVino span{
   width: 35px;
   height: 35px;
   background-image: url('../Images/searchIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnAdd_addVino:hover, .btnclose_addVino:hover, 
.btnclear_addVino:hover, .btnImage_addVino:hover{
   background-color: #D9D9D9;
   box-shadow: -3px 0px 20px -16px rgba(0,0,0,0.75);
}

.container-form2_addVino{
   margin: 105px 40px auto 0;
}

.container-form2_addVino h2{
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.6;
   /* display: inline-block; */
   /* margin: 5px 10px 0 10px; */
   margin: 13px auto;
}









