/* *{
   box-sizing: border-box;
   margin:0;
   padding: 0;
}

html{
   font-size: 62.5%;
   font-family: 'Montserrat', sans-serif;
} */

body{
   height: 100vh;
   width: 100vw;
   background-image: url(../Images/mainPageBackground.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.root-container_cajas{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;

}

.parent-container_cajas{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   width: 76vw;
   height: 82vh;
   background-color: whitesmoke;
   border-radius: 20px;
   /* box-shadow: 13px 16px 15px -3px rgba(0,0,0,0.75); */
   box-shadow: -3px 0px 20px -2px rgba(0,0,0,0.75);
}

.search-container_cajas{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: row;
   margin: 30px auto 20px auto;
   width: 1100px;
}

.search-buttons-container_cajas{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
   width: 160px;
   height: 100%;
}

.btnrefresh_cajas, .btnclose_cajas, 
.btnclear_cajas, .btnsearch_cajas{
   margin: 10px auto;
   /* padding: 10px; */
   height: 55px;
   width: 55px;
   text-align: center;
   cursor: pointer;
   background-color: white;
   border-radius: 15px;
   border: none;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.btnrefresh_cajas{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnrefresh_cajas span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/refreshIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnclose_cajas{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclose_cajas span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/closeIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnclear_cajas{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclear_cajas span{
   width: 35px;
   height: 35px;
   background-image: url('../Images/cleanIcon.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnsearch_cajas{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnsearch_cajas span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/searchIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnrefresh_cajas:hover, .btnclose_cajas:hover, 
.btnclear_cajas:hover, .btnsearch_cajas:hover{
   background-color: #D9D9D9;
   box-shadow: -3px 0px 20px -16px rgba(0,0,0,0.75);
}

.search-box_cajas{
   width: 1000px;
   height: 100%;
   padding: 8px 0;
   background-color: white;
   border-radius: 10px;
   margin: 0 20px 0 20px;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.form_cajas{
   display: inline-block;
   margin: 0 20px;
}

.form_cajas label{
   display: flex;
   align-items: flex-end;
}

.formDos_cajas{
   display: inline-block;
   margin: 0 20px;
   vertical-align: top;
}

.formDos_cajas label{
   display: flex;
   align-items: flex-end;
}

.search-box_cajas h2{
   font-size: 1.5rem;
   font-weight: 400;
   line-height: 1.6;
   margin: 10px auto;
   width: 230px;
}

.search-box_cajas > h2{
   font-size: 1.5rem;
   line-height: 1.6;
   font-weight: 500;
   margin: 10px 0px 10px 16px;
}

.search-box_cajas input{
   width: 150px;
   height: 25px;
   margin: 10px auto;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
}

.add-delete-buttons_cajas{
   display: flex;
   flex-direction: column;
   margin-left: 7.5px;
}

.btnAdd_cajas, .btnDelete_cajas{
   margin: 10px auto;
   padding: 10px;
   height: 55px;
   width: 55px;
   text-align: center;
   cursor: pointer;
   background-color: white;
   border-radius: 15px;
   border: none;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.btnAdd_cajas:hover, .btnDelete_cajas:hover{
   background-color: #D9D9D9;
   box-shadow: -3px 0px 20px -16px rgba(0,0,0,0.75);
}

.btnAdd_cajas{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnAdd_cajas span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/addIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnDelete_cajas{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnDelete_cajas span:hover{
   width: 40px;
   height: 40px;
   background-image: url('../Images/deleteIconRed.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnDelete_cajas span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/deleteIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


.info-container_cajas{
   width: 980px;
}

table{
   border-collapse: collapse;
   width: 100%;
   background-color: white;
}

th, td{
   border: 0.8px solid black;
   text-align: left;
   padding: 6px;
   font-weight: 500;
   font-size: 1.4rem;
}