/* *{
   box-sizing: border-box;
   margin:0;
   padding: 0;
}

html{
   font-size: 62.5%;
   font-family: 'Montserrat', sans-serif;
} */

body{
   height: 100vh;
   width: 100vw;
   background-image: url(../Images/mainPageBackground.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.root-container_clientes{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;

}

.parent-container_clientes{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   width: 80vw;
   height: 93vh;
   background-color: whitesmoke;
   border-radius: 20px;
   /* box-shadow: 13px 16px 15px -3px rgba(0,0,0,0.75); */
   box-shadow: -3px 0px 20px -2px rgba(0,0,0,0.75);
}

.search-container_clientes{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: row;
   margin: 30px auto 20px auto;
   width: 1150px;
}

.search-buttons-container_clientes{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
   width: 150px;
   height: 100%;
}

.btnrefresh_clientes, .btnclose_clientes, 
.btnclear_clientes, .btnsearch_clientes{
   margin: 10px auto;
   /* padding: 10px; */
   height: 55px;
   width: 55px;
   text-align: center;
   cursor: pointer;
   background-color: white;
   border-radius: 15px;
   border: none;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.btnrefresh_clientes{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnrefresh_clientes span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/refreshIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnclose_clientes{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclose_clientes span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/closeIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnclear_clientes{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnclear_clientes span{
   width: 35px;
   height: 35px;
   background-image: url('../Images/cleanIcon.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnsearch_clientes{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnsearch_clientes span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/searchIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnrefresh_clientes:hover, .btnclose_clientes:hover, 
.btnclear_clientes:hover, .btnsearch_clientes:hover{
   background-color: #D9D9D9;
   box-shadow: -3px 0px 20px -16px rgba(0,0,0,0.75);
}

.search-box_clientes{
   width: 1500px;
   height: 100%;
   padding: 8px 0;
   background-color: white;
   border-radius: 10px;
   margin: 0 20px 0 20px;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.form_clientes{
   display: inline-block;
   margin: 0 20px;
}

.form_clientes label{
   display: flex;
   align-items: flex-end;
}

.search-box_clientes h2{
   font-size: 1.5rem;
   font-weight: 400;
   line-height: 1.6;
   margin: 10px auto;
   width: 230px;
}

.search-box_clientes > h2{
   font-size: 1.5rem;
   line-height: 1.6;
   font-weight: 500;
   margin: 10px 0px 10px 16px;
}

.search-box_clientes input{
   width: 150px;
   height: 25px;
   margin: 10px 0;
   border:  none;
   background-color: #F2F2F2;
   border-radius: 5px;
}

.search-box_clientes .inputFecha{
   margin-left: 10px;
}

.formDos_clientes{
   vertical-align: top;
   margin-left: 0;
   margin-top: -45px;
   display: inline-block;
}

.formDos_clientes h2{
   margin-left: 10px;
   margin-right: 20px;
   width: 260px;
}

.formDos_clientes .form_clientes > h2{
   font-weight: 600;
}



/* .formDos .reservacion{
   margin-top: 50px;
   margin-left: -150px;
} */

.add-delete-buttons_clientes{
   display: flex;
   flex-direction: column;
   margin-left: 7.5px;
}

.btnAdd_clientes, .btnDelete_clientes{
   margin: 10px auto;
   padding: 10px;
   height: 55px;
   width: 55px;
   text-align: center;
   cursor: pointer;
   background-color: white;
   border-radius: 15px;
   border: none;
   box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}

.btnAdd_clientes:hover, .btnDelete_clientes:hover{
   background-color: #D9D9D9;
   box-shadow: -3px 0px 20px -16px rgba(0,0,0,0.75);
}

.btnAdd_clientes{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnAdd_clientes span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/addIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnDelete_clientes{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnDelete_clientes span:hover{
   width: 40px;
   height: 40px;
   background-image: url('../Images/deleteIconRed.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.btnDelete_clientes span{
   width: 40px;
   height: 40px;
   background-image: url('../Images/deleteIcon.svg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


.info-container_clientes{
   width: 1100px;
}

table{
   border-collapse: collapse;
   width: 100%;
   background-color: white;
}

th, td{
   border: 0.8px solid black;
   text-align: left;
   padding: 6px;
   font-weight: 500;
   font-size: 1.4rem;
}